
#about-title {
    position: absolute;
    width: 100vw;
    text-align: center;
    top: 200px;
    color: rgb(0, 0, 0);
    z-index: 10;
}

#about-title h1 {
    font-size: 5em;
    opacity: 1;
}

#about-image {
    opacity: 0.7;
}

#about-image img{
    height: 500px;
    width: 1519px;
}

#about-content-wrapper {
    background-color:rgb(139, 118, 77);
}

#about-content-image12 {
    width: 100vw;
    display: flex;
    align-items: center;
}

#about-content-image12 img {
    padding: 30px 30px;
    width: 49vw;
}

#about-content-image12 img:hover {
    padding: 20px 20px;
    transition-duration: 1s;
}

#about-content-image3 img {
    padding: 20px 30px;
    width: 98vw;
    height: 90vh;
}

#about-content-image3 img:hover {
    padding: 10px 20px;
    transition-duration: 1s;
}

#about-content-image45 {
    width: 100vw;
    display: flex;
    align-items: center;
}

#about-content-image45 img {
    padding: 30px 30px;
    width: 49vw;
}

#about-content-image45 img:hover {
    padding: 20px 20px;
    transition-duration: 1s;
}
