#footer-container {
    padding: 50px 300px;
    background-color: rgb(37, 31, 50);
    color: rgb(250, 250, 246);
    text-align: center;
    height: 400px;
}

#footer-info-list {
    height: 100%;
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20% 20%;
}

.footer-info a {
    text-decoration-line: none;
    color: inherit;
}